<div class='alert'>
    <div class='content'>
        <div class='header'>
            <h2><!-- --></h2>

            <span class='close'>X</span>
        </div>

        <div class='body'>
            <!-- -->
        </div>

        <div class='footer'>
            <button class='close'><!-- --></button>
        </div>
    </div>
</div>