<footer>
    <div class="container">
        <div class="table menu">

            <div class="cell">
                <div class="menu-item">
                    <i class="icon"></i>
                    <span><a href="~/Frontend/Index">Home</a></span>
                </div>
            </div>

            <div class="cell">
                <div class="menu-item">
                    <i class="icon"></i>
                    <span><a href="#">Contact</a></span>
                </div>
            </div>

            <div class="cell">
                <div class="menu-item">
                    <i class="icon"></i>
                    <span><a href="#">Who we are</a></span>
                </div>
            </div>

        </div>
    </div>
</footer>