<header>
    <div class="container">
        <div class="table header-table">
            <div class="cell">
                <i class="icon"></i>
            </div>

            <div class="cell">
                <img src="~/Assets/images/logo.jpg" class="logo" />
            </div>

            <div class="cell">
                <i class="icon"></i>
            </div>
        </div>
    </div>
</header>