@{ ViewBag.Title = "Index";
                Layout = "~/Views/Layout/MainLayout.cshtml"; }

<div class="card">
    <div class="wrapper">
        <div class="body">
            <section class="section-index">
                <form class="content">
                    <h2>Please select a operation.</h2>

                    <a class="button" href="~/Frontend/Deposit">Deposit</a>
                    <a class="button" href="~/Frontend/Withdraw">Withdraw</a>
                </form>
            </section>
        </div>
    </div>
</div>